.ScrollTrigger {
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
  }


  .square {
    width: 200px;
    height: 200px;
    background-color: black;
    transition: border-radius 1s;
  }

  .square--active {
    border-radius: 20px;
  }

  img {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    display: block;
    width: 400px;
    height: 400px;
  }
}
