.HorizontalScroll {
  overflow-x: hidden;

  .section {
    width: 100%;
    height: 500px;
  }

  .races {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
  }

  .races h2 {
    flex-shrink: 0;
    margin: 0;
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: #e10600;
    font-size: 30vw;
  }
}
