.app {
	background-color: white;
}

@media (hover: none) {
	.cursor {
		display: none !important;
	}
}

@media (hover: hover) {
	* {
		cursor: none;
		pointer-events: all;
	}

	.cursor {
		display: block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: #111;
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		pointer-events: none;
	}
}



