.nav {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	.desktop {
		display: flex;
		gap: 10px;
	}

	.mobile {
		display: none;
	}

	@media (max-width: 767px) {
		justify-content: flex-end;
		.desktop {
			display: none;
		}
		.mobile {
			display: flex;
			justify-content: center;
			gap: 10px;
		}
	}
}
